<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true"
         convertNoticesToExceptions="true"
         mapTestClassNameToCoveredClassName="true"
         bootstrap="tests/bootstrap.php"
         verbose="true"
         colors="true"
         timeoutForLargeTests="100">

    <testsuites>
        <testsuite name="accepton/accepton">
            <directory>./tests/</directory>
        </testsuite>
      </testsuites>

    <filter>
      <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">lib</directory>
      </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="build/coverage" title="accepton code coverage"
             charset="UTF-8" yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70"/>
    </logging>

    <php>
        <ini name="error_reporting" value="-1"/>
    </php>
</phpunit>
